[Desktop Entry]
name=
name[ru_RU]=
name[en_US]=

description=
description[ru_RU]=
description[en_US]=

icon=system-run

[<test_name>]
name=
name[ru_RU]=
name[en_US]=
description=
description[ru_RU]=
description[en_US]=
